<%= render "navbar" %>

<div class="container">
    <br><br><br>
    <h1>Report</h1>
    <hr>
    
    <form action = "/report_create" method = "post">
        
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputTitle" name="title">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Content</label>
      <div class="col-sm-10">
        <!--<input type="text" class="form-control" id="inputDesctiption" rows="3">-->
        <textarea class="form-control" id="inputContent" rows="5" name="content"></textarea>
      </div>
    </div>
    
     <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Report now!</button>
      </div>
    </div>
    
    </form>
    
  <div style="margin-bottom:100px; margin-top:100px;">
    <p class="m-0 text-center" style="font-size: 25px;">Thank you for your report <i class="far fa-thumbs-up" style="color:#3366ff"></i></p>
  </div>
</div>
    
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">2018 Software Design Project</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>